version: '3.8'
# Inside docker-compose.yml
services:
  db:
    image: postgres:15
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${DB_NAME}       
      - POSTGRES_USER=${DB_USER}    
      - POSTGRES_PASSWORD=${DB_PASSWORD} 
  web:
      build: .
      command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
      volumes:
        - .:/code
      ports:
        - "8000:8000"
      environment:
        - DB_NAME=${DB_NAME}
        - DB_USER=${DB_USER}
        - DB_PASSWORD=${DB_PASSWORD}
      depends_on:
        - db